# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Visual Studio files
.vscode/
.vs/
__pycache__/
thumbs.db
ehthumbs.db

# Mac specific files
.DS_Store
*.DS_Store

# Xcode project files
build/
*.xcodeproj/
*.xcworkspace/

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
